body{
    background-color: #E1E5F0;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto';
}
.logoNafra{
    border-right: 5px dotted #003E7F;
}

#barraSuperior{   
    margin: 0;
    padding: 0;
    width: 100%;
}
#barraSuperior a:hover{ 
    color: white;
    text-decoration: none;
   
}
#barraSuperior a .fab:hover{ 
    color: #00A6E2;
}
#logoAnos {
    display: block;
    height: 85px;
    position: relative;
    width: 120px;
}
#logoAnos img, #logoAnos p{
    position: absolute;
}
#logoAnos img{
    height: 100%;
    top: 0;
    left: 0;
}
#logoAnos p{
    font-size: 22px;
    font-family: 'Roboto';
    top: 25px;
    left: 25px;
    text-transform: uppercase;
}
.navbar-light a.nav-link{
    color:#003E7F!important;
}

.navbar-light> a.nav-link:hover, .navbar-light li.nav-item:hover{
    color: white !important;
    background-color: #003E7F;
}
.navbar-light .dropdown-menu{
    background-color: #003E7F;
    color: white!important;
    opacity: .8;
}
.navbar-light .dropdown-menu .dropdown-item{
    line-height: 2.1em;
}
.navbar-light .dropdown-menu .dropdown-item:hover, 
.navbar-light .dropdown:hover> a{
    background-color: #003E7F;
    color: white!important;
    opacity: 1;
}
.navbar-light a.nav-link:hover, 
.navbar-light .dropdown-menu a, 
.navbar-light .dropdown-menu a:hover{
    color: white !important;
}
.hamburguesa .navbar-toggler-icon{
    color: #003E7F;
}
/* //baner imagen */
.full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;  
    margin-left: -50vw;
  }
  
.full-width-image img {
    width: 100%;
}

.franjaAzulAncha{
    height: 250px;
}
/* //index */
#puntitosArriba{
    position: relative;
}
#puntitosArriba div{
    display: block;
    position: absolute;
    top: 135px;
    right: 0;
    left: 0;
    margin: auto;
}
/* equipo */
#nuestroEquipo{
    min-height: 600px;
}
/* valores */
.circuloValores{
    height: 120px;
    position: relative;
}
.circuloValores p{
  position: absolute;
  top: 40%;
}

/* oficinas */
.iframe-outer {
    display: inline-block;
    position: relative;
    width: 50%;
    margin-left: 10%;
    padding:0;
  }
  
  .iframe-outer:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  
  .iframe-inner {
    overflow: hidden;
    border-radius: 5000px;
    transition: all ease .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding:0;
  }
  
  .iframe-inner iframe {
    height: 120%;
    width: 120%;
  }

#mapa{
    margin:0;
    padding:0;
    position: relative;
}
#mapa img{
    height:150px; 
    position: absolute;
    bottom: 130px;
    right: 18%;
}
/* servicios */
#serviciosAzul{
    position: relative;
}
#serviciosAzul img{
    position: absolute;
    bottom: 30px;
    right: 30px
}
#servicios ul{
    list-style: none;
}
#servicios ul li{
margin-bottom: 10px;
}
#servicios ul li i{
    color:  #00A6E2;
    font-size: 1.5em;
}

/* productos */

.iconoSeguros{
    height: 100px;
    border: solid 15px #00A6E2;
}
/* servicios */
#seguros ul{
    list-style-type: none;
}
#seguros ul li{
    background: none;
    border: none;
    border-bottom: 1px solid #003E7F;
}
#seguros ul li:last-child{
    border-bottom: none;
}
.boxSeguros{
    position: relative;
}
.boxSeguros div{
    height: 100%;
}
.medio div{
    height: 95%;
}
.boxSeguros span, .medio span {
    position: absolute;
    top: 0;
    left: 50%;
}
.boxSeguros span img, .medio span img{
    position: relative; 
    left: -50%;
}
.medio{
    height: 50%;
    margin-top: 8px;
}
/* cotizador */
.formLinea{
    padding-top: 25px
}
/* contacto */
#datosContacto p a:hover{
    color: #00A6E2;
    text-decoration: underline;
}

/* //contacto Gracias */
#contactoGracias{
    min-height: 350px;
}

/* textos */
.txtBlanco{
    color: white;
}
.txtAzul{
    color: #003E7F;
}
.txtCeleste{
    color: #00A6E2;
}
.txtGris{
    color:#E1E5F0;
}
/* fondos */
.fondoBlanco{
    background-color: white;
}
.fondoBlanco60{
    background-color: rgba(266 , 266, 266, 0.60);
}
.fondoBlanco50{
    background-color: rgba(266 , 266, 266, 0.50);
}
.fondoBlanco40{
    background-color: rgba(266 , 266, 266, 0.40);
}
.fondoBlanco30{
    background-color: rgba(266 , 266, 266, 0.30);
}
.fondoAzul{
    background-color: #003E7F;
}
.fondoAzul75{
    background: rgba(0 , 62, 127, 0.75);
}
.fondoAzul50{
    background: rgba(0 , 62, 127, 0.5);
}
.fondoCeleste{
    background-color: #00A6E2;
}
.fondoCeleste75{
    background: rgba(0 , 166, 266, 0.75);
}
.fondoCeleste50{
    background: rgba(0 , 166, 266, 0.5);
}
.fondoGris{
    background-color:#E1E5F0;
}
.fondoGrisForm{
    background: #CCD3E5 !important;
}
.fondoNegro{
    background-color:#000;
}

/* fomularios */
form select {
    color: #003E7F !important;
    background: #CCD3E5 !important;
}

form hr{
    height: 1px;
    background-color:#CCD3E5;
    border: none;
}
#formCotizador [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
#formCotizador [type="radio"]:checked + label,
#formCotizador [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color:white;
}
#formCotizador [type="radio"]:checked + label:before,
#formCotizador [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #CCD3E5;
    border-radius: 100%;
    background: #CCD3E5;
}
#formCotizador [type="radio"]:checked + label:after,
#formCotizador [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 11px;
    height: 11px;
    background: #003E7F;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#formCotizador [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
#formCotizador [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.custom-file-input ~ .custom-file-label::after {
    color: #003E7F !important;
    background: #CCD3E5 !important;
    content: "Buscar archivo";
} 
#formCotizador [type="text"]:focus, 
#formCotizador [type="email"]:focus,
#formCotizador textarea:focus,
#formContacto [type="text"]:focus, 
#formContacto [type="email"]:focus,
#formContacto [type="file"]:focus,
#formContacto textarea:focus   {
    background-color: #CCD3E5;
}
.form-control::placeholder, .custom-file-label { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666 !important;
    opacity: 1; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666 !important;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666 !important;
}

@media only screen and (max-width: 768px) {
    /* valores */
    .circuloValores{
        height: 75px;
    }
    .circuloValores p{
        font-size: 12px;
        top: 35%;
    }
    #mapa .iframe-outer{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 376px) {
    #barraSuperior {
        font-size: 10px;
        text-align: center;
    }
    .franjaAzulAncha{
        height: 285px;
    }
    #puntitosArriba div{
        top: 170px;
    }
    /* valores */
    .circuloValores{
        height: 115px;
    }
    .circuloValores p{
        font-size: 1em;
        top: 35%;
      }
      .iframe-outer {
        display: inline-block;
        position: relative;
        width: 50%;
        margin-left: 25%;
      }
      #mapa img{
        bottom: 0;
        right: 0;
    }
    #serviciosAzul img{
        top: 150px;
    }
    #servicios h3{
        font-size: 1.5em;
    }
}
