azul = #006699
celesteFaro = #C5EAE4
rojoFaro = #FF5B52
body    
    background-color whitesmoke
.fondoFaroCeleste
    background celesteFaro
.fondoFaroRojo
    background rojoFaro
.txtFaroCeleste
    color celesteFaro
.txtFaroRojo
    color rojoFaro
.fondoAzul 
    background azul
/*fondo imagen completa*/
.bg 
    background-image url('../../../assets/img/historia/ice_II_2011_nov_rumbo_darsena.jpg')
    height 100%
    background-position center
    background-repeat no-repeat
    background-size cover